<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= link_to "<< Back to Articles Index", articles_path %>

<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Do you really wish to delete #{@article.title}?"}%>
<%= link_to "Edit", edit_article_path(@article) %>
